@font-face {
  font-family: 'Segoe-UI';
  src: url('../fonts/segoeui_regular.eot');
  src: url('../fonts/segoeui_regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/segoeui_regular.woff2') format('woff2'),
       url('../fonts/segoeui_regular.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: 'Segoe-UI-Bold';
  src: url('../fonts/segoeui_bold.eot');
  src: url('../fonts/segoeui_bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/segoeui_bold.woff2') format('woff2'),
       url('../fonts/segoeui_bold.woff') format('woff');
        font-display: swap;
}

@font-face {
  font-family: 'Gelica';
  src: url('../fonts/gelica_regular.eot');
  src: url('../fonts/gelica_regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/gelica_regular.woff2') format('woff2'),
       url('../fonts/gelica_regular.woff') format('woff');
        font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

ul {
  list-style: none;
}

body {
  min-width: 300px;
  font-family: 'Segoe-UI';
  font-weight: 100;
  -webkit-font-smoothing: antialised;
}

main {
  overflow: hidden;
}

a {
  text-decoration: none;
  outline: none;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

strong {
  font-family: 'Segoe-UI-Bold';
}

img {
  display: block;
  max-width: 100%;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Gelica';
  font-weight: 100;
  -webkit-font-smoothing: antialised;
}

h1, p {
  color: #000;
  line-height: 1.4;
}

h1 {
  font-size: 17px;
}

p, .smaller {
  font-size: 15px;
}

.banner_dark h1, .banner_dark p {
  color: #fff;
}

/*general styles*/
.banner {
  position: relative;
  width: 300px;
  height: 250px;
  background-color: #000;
  border: 1px solid rgba(0,0,0,0.2);
  text-align: center;
  overflow: hidden;
}

.banner img {
  margin: 0 auto;
}

.banner video {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.banner__content {
  position: relative;
  z-index: 3;
  width: 100%;
}

.shadow {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.3);
}

.banner__btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__link {
  position: relative;
  font-family: 'Segoe-UI-Bold';
  font-size: 13px;
  line-height: 1;
  color: #000;
  border-radius: 30px;
  background-color: #71cccc;
  text-align: center;
  text-transform: uppercase;
  padding: 8px 23px 11px 23px;
  transition: .3s;
}

.banner__link_wave::before {
  content: "";
  position: absolute;
  border-radius: 30px;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background: none;
  transform: translate(-50%, -50%);
  border: 0 solid rgba(113,214,214,0.75);
  opacity: 1;
  pointer-events: none;
  animation: wave 1.5s ease-out infinite;
}

@keyframes wave {
  from {
    opacity: 1;
    border-width: 0;
  }
  to {
    opacity: 0;
    border-width: 17px;
  }
}

.banner__link:hover {
  background-color: #9ce0e0;
  transition: .3s;
}
/*general styles - end*/

/*banner 1 - begin*/
.banner__content_bot {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #fff9ef;
  padding: 12px 10px 14px 10px;
}

.banner__content_bot h1 {
  margin-top: 6px;
  margin-bottom: 8px;
}
/*banner 1 - end*/

/*banner 2 - begin*/
.banner__content_full {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 35px 10px 25px 10px;
}

.banner__block {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mt7 {
  margin-top: 7px;
}
/*banner 2 - end*/